<!DOCTYPE html>
html(lang="de")
    head
        block title
            title TMS
        link(rel="stylesheet", href="css/main.min.css")
    body
        block content

        script(src="js/main.min.js")
